.containerCards {
  max-width: 400px;
  min-width: 320;
  margin: 0 10px;
}
.containerPrice {
  display: flex;
  align-items: center;
  height: 50px;
  justify-content: space-between;
}
.containerDescription {
  border: 2px solid transparent;
  padding: 10px 10px;
}
.containerCards:hover .containerDescription{
  border-bottom-color:#edecec;
  border-left-color: #edecec;
  border-right-color: #edecec;
}
.containerCards img {
  width: 100%;
  object-fit: cover;
}
.containerVerDetalle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  color: var(--backgroundLogo);
}
.Links {
  text-decoration: none;
}